extends layout

block content
  div(class="buttons")
    button(type='button' class='prev btn btn-dark' id='prevButton' title="Previous") 
      // https://icons.getbootstrap.com/icons/skip-backward-fill/
      <svg class="bi bi-skip-backward-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M.5 3.5A.5.5 0 000 4v8a.5.5 0 001 0V4a.5.5 0 00-.5-.5z" clip-rule="evenodd"/> 
        <path d="M.904 8.697l6.363 3.692c.54.313 1.233-.066 1.233-.697V4.308c0-.63-.692-1.01-1.233-.696L.904 7.304a.802.802 0 000 1.393z"/> 
        <path d="M8.404 8.697l6.363 3.692c.54.313 1.233-.066 1.233-.697V4.308c0-.63-.693-1.01-1.233-.696L8.404 7.304a.802.802 0 000 1.393z"/>
        </svg>
    button(type='button' class='Play btn btn-dark' id='playButton' style="width: 80px")
      // https://icons.getbootstrap.com/icons/play-fill/
      <svg class="bi bi-play-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z"/>
        </svg>
    button(type='button' class='Pause btn btn-dark d-none' id='pauseButton' style="width: 80px") 
      // https://icons.getbootstrap.com/icons/pause-fill/
      <svg class="bi bi-pause-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.5 3.5A1.5 1.5 0 017 5v6a1.5 1.5 0 01-3 0V5a1.5 1.5 0 011.5-1.5zm5 0A1.5 1.5 0 0112 5v6a1.5 1.5 0 01-3 0V5a1.5 1.5 0 011.5-1.5z"/>
        </svg>
    button(type='button' class='next btn btn-dark' id='nextButton')
      // https://icons.getbootstrap.com/icons/skip-forward-fill/
      <svg class="bi bi-skip-forward-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M15.5 3.5a.5.5 0 01.5.5v8a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
        <path d="M7.596 8.697l-6.363 3.692C.693 12.702 0 12.322 0 11.692V4.308c0-.63.693-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z"/>
        <path d="M15.096 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.693-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z"/>
        </svg>
    div(id='songinfo' class='alert alert-success') iTunes is  #{state} : 
      p #{artist}<br>#{song}
    style.
      input[type=text], select {
      width: 300px;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      }
      div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      }
    div
      select(name='dropDown', id='playlistDropdown')
        each playlist in Playlists
          option=playlist
      button(type='button' class='selectPlaylist btn btn-dark' id='playlistButton' style="width: 100px") Choose
  script(src='javascripts/client.js')

  