extends layout

block content
  button(type='button' class='btn btn-dark' id='prevButton') Prev
  button(type='button' class='btn btn-dark' id='playpauseButton' style="width: 70px") #{playpausetext}
  button(type='button' class='btn btn-dark' id='nextButton') Next
  div(id='songinfo' class='alert alert-success') iTunes is  #{state} : 
    p #{artist}<br>#{song}
  script(src='javascripts/client.js')

  