.buttons {
  margin-top: 4px;
  margin-bottom: 4px;
}

.buttons button {
  margin-left: 2px;
  margin-right: 2px;
}

.next, .prev, .Play, .Pause, .selectPlaylist, .playlistDropdown {
  position: absolute;
}

.prev {
  top: 4px;
  left: 4px;
}


.Play {
  top: 4px;
  left: 50px;
}

.Pause {
  top: 4px;
  left: 50px;
}

.next {
  top: 4px;
  left: 134px;
}

.alert {
  top: 100px;
  left: 4px;
}

.selectPlaylist {
  top: 50px;
  left: 0px;
}

.playlistDropdown {
  top: 40px;
  left: 110px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 2px;
  margin: 8px 0;
}

