.buttons {
  margin-top: 4px;
  margin-bottom: 4px;
}

.buttons button {
  margin-left: 2px;
  margin-right: 2px;
}

.next, .prev, .Play, .Pause, .selectPlaylist {
  position: absolute;
}

.prev {
  top: 4px;
  left: 4px;
}


.Play {
  top: 4px;
  left: 50px;
}

.Pause {
  top: 4px;
  left: 50px;
}

.next {
  top: 4px;
  left: 134px;
}

.alert {
  top: 40px;
  left: 4px;
}

.selectPlaylist {
  top: 170px;
  left: 340px;
}
